<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/top-menu.css" />

    @*JQUERY*@
    <script src="~/plugin/jquery/jquery-3.6.4.min.js"></script>
    <script src="~/js/general.js"></script>

    @*SELECT2*@
    <link href="~/plugin/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/plugin/select2/js/select2.min.js"></script>
    <link rel="stylesheet" href="~/plugin/select2/css/select2-bootstrap-5-theme.min.css" />

    @*BOOTSTRAP*@
    <link rel="stylesheet" href="~/plugin/bootstrap/css/bootstrap.min.css" />
    <script src="~/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/plugin/bootstrap/css/bootstrap-custom.css" rel="stylesheet" />

    @*MOMENT*@
    <script src="~/plugin/moment/moment-with-locales.min.js"></script>

    @*SCROLL*@
    <link href="~/plugin/scroll/scroll.css" rel="stylesheet" />

    @*Notifications*@
    <link href="~/plugin/notification/notifications.css" rel="stylesheet" />
    <script src="~/plugin/notification/notifications.js"></script>
    <script src="~/plugin/notification/notifications-custom.js"></script>

    @*FONT*@
    @*GOOGLE ICONS*@
    <link href="~/plugin/fonts-gstatic/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <script src="~/localization/localization.common.js"></script>

    <script>
        var portalApiEndpoint = "http://localhost:5016";
        var currentLanguageCode = "en-US";
        var token = localStorage.getItem("Token"); //Tarayıcının hafızasından Token'ı okuyoruz

        // AJAX MIDDLEWARES
        $.ajaxSetup({
            beforeSend: function (xhr) {
                var token = localStorage.getItem("Token");
                xhr.setRequestHeader('Token', token);
            }
        });

        $(document).ajaxComplete(function (event, xhr, settings) {
            if (xhr.status == 401) {
                window.location.href = apiPathBase + "/logout";
            }
        });



    </script>
</head>
<body>

    <div class="topnav">
        <center>
            <div class="top-nav-content">
                <a id="home" href="/home">
                    <img src="https://listing-images-aws.s3.eu-north-1.amazonaws.com/sahibinden_logo.png" alt="icon" width="150" height="36">
                </a>
                <div class="search-container">
                    <input type="text" id="search" placeholder="Kelime, ilan no veya mağaza adı">
                    <button type="submit" onclick="search();">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="right-links">
                    <a id="login" href="/login" onclick="login();">Giriş Yap</a>
                    <a id="register" href="/register">Hesap Aç</a>
                    <div class="listing-button">
                        <a id="listing-button" href="/">Ücretsiz İlan Ver</a>
                    </div>
                    <a id="logout" href="#" onclick="logout();">Çıkış</a>
                </div>
            </div>
        </center>
    </div>

    <center>
        <div class="page-loading hide"></div>
        <div class="page">@RenderBody()</div>
    </center>

    <script>
        if (token) {
            $("#login").hide();
            $("#register").hide();
            $("#logout").show();
        }
    </script>

</body>
</html>