@page "/home"
@model AdminPortal.Pages.Home.HomeModel


<table cellpadding="0" cellspacing="0" width="70%;">
    <tr>
        <td class="left-menu">
            <div id="category-list"></div>
        </td>
        <td class="page-content">
            <div id="listings">
                <!-- Dinamik olarak ilanlar burada listelenecek -->
            </div>
        </td>
    </tr>
</table>

<link rel="stylesheet" href="~/css/home.css">
<script src="~/js/home.js"></script>
<script src="~/js/listings.js"></script>
