<div class="modal fade" id="activatedCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Activated Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="confirmation-message">Bu kategoriyi aktif etmek istediğinize emin misiniz?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-danger" onclick="activatedCategory();">Evet Eminim.</button>
            </div>
        </div>
    </div>
</div>
<script>

    $activatedCategoryModal = $("#activatedCategoryModal");
    var selectedCategoryId;

    $activatedCategoryModal.on('shown.bs.modal', function (event) {
        selectedCategoryId = $(event.relatedTarget).data('id'); //Tıklanan satırın id'sini oku
    });

    function activatedCategory() {
        showModalLoading("activatedCategoryModal");
        $.ajax({
            url: portalApiEndpoint + '/library-api/categories/' + selectedCategoryId + '/activate',
            type: 'PUT',
            complete: function () {
                hideModalLoading("activatedCategoryModal");
            },
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $('#activatedCategoryModal').modal('hide');
                notify("", "Kategori başarıyla aktif edildi.", "success");
                getCategories();
            },
            error: function (err, status, xhr) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }
</script>