<div class="modal fade" id="deactivatedCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Activated Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="confirmation-message">Bu rezervasyonu pasif hale getirmek istediğinize emin misiniz?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-danger" onclick="deactivatedCategory();">Evet Eminim.</button>
            </div>
        </div>
    </div>
</div>
<script>

    $deactivatedCategoryModal = $("#deactivatedCategoryModal");
    var selectedCategoryId;

    $deactivatedCategoryModal.on('shown.bs.modal', function (event) {
        selectedCategoryId = $(event.relatedTarget).data('id'); //Tıklanan satırın id'sini oku
    });

    function deactivatedCategory() {
        showModalLoading("deactivatedCategoryModal");
        $.ajax({
            url: portalApiEndpoint + '/library-api/categories/' + selectedCategoryId + '/deactivate',
            type: 'PUT',
            complete: function () {
                hideModalLoading("deactivatedCategoryModal");
            },
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $('#deactivatedCategoryModal').modal('hide');
                notify("", "Kategori başarıyla pasif hale getirildi.", "success");
                getCategories();
            },
            error: function (err, status, xhr) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }
</script>