<div class="modal fade" id="deactivatedCustomerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deactivated Customer</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="confirmation-message">Bu rezervasyonu pasif hale getirmek istediğinize emin misiniz?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-danger" onclick="deactivatedCustomer();">Evet Eminim.</button>
            </div>
        </div>
    </div>
</div>
<script>

    $deactivatedCustomerModal = $("#deactivatedCustomerModal");
    var selectedCustomerId;

    $deactivatedCustomerModal.on('shown.bs.modal', function (event) {
        selectedCustomerId = $(event.relatedTarget).data('id'); //Tıklanan satırın id'sini oku
    });

    function deactivatedCustomer() {
        showModalLoading("deactivatedCustomerModal");
        $.ajax({
            url: portalApiEndpoint + '/library-api/customers/' + selectedCustomerId + '/deactivate',
            type: 'PUT',
            complete: function () {
                hideModalLoading("deactivatedCustomerModal");
            },
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $('#deactivatedCustomerModal').modal('hide');
                notify("", "Müşteri başarıyla pasif hale getirildi.", "success");
                getCustomers();
            },
            error: function (err, status, xhr) {
                var errorMessage = xhr.responseJSON.ErrorMessage;
                notify("", errorMessage, "error");
            }
        });
    }
</script>